
<body>
    <!-- current weather -->
    <div class="row" style="display: flexbox;color: white;" *ngIf="weatherdailyData">
        <div class="col-6" style="padding:20px ;">
    
    
            <div class="location"  >
    
    {{weatherdailyData.city.name | uppercase}}
    
            </div>
    
            <div class="temperature" style="text-align: center;">
    
    <img src="../assets/sun-2972259.jpg" alt="" srcset="" height="50px" width="50px" *ngIf="weatherdailyData.list[0].main.temp > 20">
    <img src="../assets/clouds9.jpg" alt="" srcset="" height="50px" width="50px" *ngIf="weatherdailyData.list[0].main.temp <= 20">
    
    <div style="font-size:50px;">
    
        <strong >{{weatherdailyData.list[0].main.temp | number : '1.0-0'}}</strong><sup>°C|°F</sup>
        
    </div>        
        </div>
    
        
        </div>
        
        <div class="col-6">
        
            <div class="search" style="margin-top:20px ;">
                <form #search="ngForm" (submit)="onsubmit()">
                    <input type="text" style="text-align:center ; color: black;" placeholder="search city" name="city" [(ngModel)]="cityname">
                </form>
            </div>
    <div class="info" style="margin-top:40px ;">
    
        <div class="perciption"></div>
    
       <div class="Humidity"> Humidity - {{weatherdailyData.list[0].main.humidity}} %</div>
        <div class="wind">wind         -  {{weatherdailyData.list[0].wind.speed}} km/h</div>
        <div class="wind">pressure     -  {{weatherdailyData.list[0].main.pressure}} Pa</div>
    
    </div>
    
        </div>
    </div>
    
    <!-- hourly weather -->
    <div *ngIf="weatherdailyData" class="d-flex flex-row mb-3  mt-5">
        <div class="hour" *ngFor="let i of hourlyweather"  >
            <div>
        {{weatherdailyData.list[i].main.temp | number : '1.0-0'}} °
        </div>
        
            {{weatherdailyData.list[i].dt_txt | date : 'h a'}}
        
        </div>
    </div>
    
    
    
    <!-- daily weather -->
    <div *ngIf="weatherdailyData" class="d-flex flex-row mb-3  mt-5" >
        <div class="cards" *ngFor="let i of item" >
           
                <div class="card" (click)="arrayupdate(i)">
                    <img src="../assets/centered-yellow-orange-summer-sun-light-burst-radial-nature-abs-gold-abstract-backround-76250667.jpg" height="100px" class="card-img-top" alt="..."  *ngIf="weatherdailyData.list[i].main.temp > 22">
                    <img src="../assets/rainclouds-sun-cloudy-rain.jpg" height="100px" class="card-img-top" alt="..."  *ngIf="weatherdailyData.list[i].main.temp <= 12">
                    <img src="../assets/ab000f469819dd7ef2a7e427e15305ff.jpg" height="100px" class="card-img-top" alt="..."  *ngIf="weatherdailyData.list[i].main.temp > 12 && weatherdailyData.list[i].main.temp <= 22">
                    <div class="card-body">
                        <p class="card-text">minimum temp<br> <strong>{{weatherdailyData.list[i].main.temp_min}}<sup>°C|°F</sup></strong></p>
                        <p class="card-text">maximum temp <br> <strong>{{weatherdailyData.list[i].main.temp_max}}<sup>°C|°F</sup></strong></p>
                        <p class="card-text" style="text-align:center;"><strong>{{weatherdailyData.list[i].dt_txt | date : 'EEE'}}</strong></p>
                        
                    </div>
                  </div>
               
               
           
    
      
      
    
    </div>
    </div>
</body>














<router-outlet></router-outlet>
